<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Options</title>
</head>
<body>
    <h1>Legal Lingo</h1>
    <div class="buttons">
        <a href="/types-of-laws" class="button">Types of Laws</a>
        <a href="/contactus" class="button">Contact Us</a>
        <a href="/need-assistance" class="button">Need Assistance</a>
    </div>
    <ul>
        <li><a href="{{ url_for('english_language') }}">continue with english</a></li>
        
    </ul>
</body>
</html>
