<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--    <link rel="stylesheet" href="filee.css">-->
    <link rel="stylesheet" href="/static/updatedcss.css">

    <script src="chat.js"></script>


    <title>Legal_Lingo</title>
</head>

<body>
    <div id="container">
        <header id="we">
            <div id="header-logo">
                <img src="/static/Legal Lingo.png" alt="legal_lingo logo">
                <h4>
                    With the <br><span style="font-size: larger;"> MINISTRY OF <br> LAW & JUSTICE </span>
                </h4>
            </div>
            <div id="header-wrapper">
                <a href="{{ url_for('homepage') }}">Home</a>
                <a href="/aboutus/{{ list[6] }}/{{list}}">About Us</a>
                <a href="/init/{{ list[6] }}/{{list}}">Initiative</a>
                <a href="#">Contact Us</a>
            </div>
        </header>
        <main>
            <hr>
            <hr>
            <div id="main-wrapper">
                <!-- <div id="main-innerwrapper1"></div>
                <div id="main-innerwrapper2"></div> -->
                <!--                <img src="../Pictures/gavel.jpg" alt="gavel photo">-->
                <div id="main-content-wrapper">
                    <h1 id="he">About Us</h1>
                    <p id="a">Welcome to LegalLingo, your trusted source for legal knowledge in India. Our mission is to
                        simplify complex legal concepts and provide instant answers to your questions about Indian laws
                        and articles. Our dedicated team of legal experts and innovative chatbot technology work
                        together to deliver accurate, accessible, and user-friendly legal information. With a commitment
                        to privacy and data security, we empower individuals to understand their rights and make
                        informed decisions. Explore our multilingual platform and let us be your guide in navigating the
                        intricate world of Indian law. Thank you for choosing us as your legal resource
                    </p>
                    <!--                    <div id="chat-btn" class="chat-btn">-->
                    <!--                        <button class="chatbtn" type="button" id="chatbtn">Chat</button>-->
                    <!--                    </div>-->
                </div>
            </div>
        </main>
        <footer>
            <hr>
            <hr>
            <div id="footer-wrapper">
                <img src="/static/L2.png" alt="Legal_Lingo logo">
                <h4>Website is Owned and Content Managed by LEGAL LINGO <span
                        style="color: rgb(186, 186, 186); font-size: larger;">|</span> <br> This project was posted on
                    the Smart India Hackathon portal <br> by The MINISTRY Of LAW & JUSTICE</h4>
            </div>
        </footer>
    </div>
</body>

</html>