<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/lang-select-style.css">

    <title>Legal_Lingo</title>
</head>
<body>
    <img src="/static/L2.png" alt="Legal_Lingo logo">
    <div id="lang-select">
        <div class="wrapper">
            <!-- <button><a href="Eng.html">English</a></button>
            <button><a href="hindi2.html">Hindi</a></button> -->
            <a href="/en/language"><button>English</button></a>
            <a href="/hi/language"><button>हिंदी</button></a>
        </div>
        <div class="wrapper">
            <a href="/gu/language"><button>ગુજરાતી</button></a>
            <a href="/mr/language"><button>मराठी</button></a>
        </div>
        <div class="wrapper">
            <a href="/te/language"><button>తెలుగు</button></a>
            <a href="/bn/language"><button>বাংলা</button></a>
        </div>
    </div>
</body>
</html>